@import "normalize";
@import "rouge-github";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gloria+Hallelujah|Indie+Flower');

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
  background-color: $body-background-color;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 1rem 1rem;
  }

  @include medium {
    padding: 1rem 1rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  //font-style: italic;
  font-family: 'Indie Flower', cursive;
  //font-family: 'Gloria Hallelujah', cursive;
  //font-family: 'Dancing Script', cursive;

  @include large {
    font-size: 7rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  opacity: 0.7;
  font-family: 'Indie Flower', cursive;
  //font-family: 'Gloria Hallelujah', cursive;
  //font-family: 'Dancing Script', cursive;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

section.logos {
    position: relative;
    top: 50px;
    height: 0px;
    width: 10%;

  @include large {
    max-width: 150px;
  }
  @include medium {
    max-width: 150px;
  }
  @include small {
    display: none;
  }
}
section.logos img {
    display: block;
    max-width: 100%; 
    max-height: 50px;
    margin-bottom: 10px;
}

.slogos {
    float: right;
    display: block;
    height: 50px;
}

.slogos img {
    /* display: block; */
    max-width: 100%; 
    max-height: 50px;
    margin-left: 20px;
}

section.navigation {
    nav {
        display: block;
        @include large {
            /* width: 73.3%; */
            max-width: 1200px;
            padding: 0px 13.3% 0px 13.3%;
            margin: 0 auto;
            font-size: 1.1rem;
        }

        @include medium {
            /* width: 84.6%; */
            padding: 0px 1rem 0px 15.3%;
            font-size: 1rem;
            margin: 0 auto;
        }

        @include small {
            padding: 0px 1rem;
            font-size: 0.8rem;
        }
    }
    nav>ul {
        display: block;
        margin: 0px;
        padding: 0px;
        height: 1.5em;
    }
    nav>ul>li {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
    nav>ul>li:not(:first-child):before {
        content: " - ";
    }
    nav>ul>li>ul {
        display: none;
    }
    nav>ul>li:hover>ul {
        display: block;
        position: absolute;
        background-color: $body-background-color;
        border: thin black outset;
        width: 20rem;
    }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    /* width: 73.3%; */
    max-width: 1200px;
    padding: 2rem 13.3% 2rem 13.3%;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    /* width: 84.6%; */
    padding: 2rem 1rem 2rem 15.3%;
    font-size: 1rem;
    margin: 0 auto;
  }

  @include small {
    padding: 1rem 1rem;
    font-size: 0.8rem;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: $section-headings-color;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    //background-color: $code-bg-color;
    background-color: transparent;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}
