// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #ff8;
$header-bg-color: #015;
$header-bg-color-secondary: #773;

// Text
$body-background-color: #ffd;
$section-headings-color: #006;
$body-text-color: #000;
$body-link-color: #168;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #244;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;
